*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav{
    width: 90%;
    margin-inline: auto;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo h4{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.logo h4 span{
    font-size: 36px;
    color: red;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

.links{
    display: flex;
    gap: 25px;
    list-style: none;
}

.links li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.3s ease;
}

.links li a:hover{
    color: red;
}

.cta button{
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.cta button:hover{
    background-color: red;
}

/* HERO */
.hero{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero video{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(45%);
}

.hero-content{
    text-align: center;
    color: white;
    max-width: 800px;
}

.hero-content h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.hero-content button{
    padding: 14px 40px;
    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover{
    background-color: black;
}
.here .image{
    
}


/* Menu styles */
.menu{
    align-items:center;
    justify-content:space-between;
    margin-left:20%;
 

    
}
.menu-container{
    margin-bottom:10%;
}


.menu-titles{
    margin:5px;
    
}
.menu-titles h2{
    color:#7c042cd5;
    font-size:12px;
}
.menu-titles h1{
    font-weight:600;
    color:#363434;
}
.menu-listing{
    display:flex;
    gap:40px;
   
}
.menu-list{
    display:flex;
    justify-content:space-between;
    margin-left:20px;
}
.menu-pricing{
    gap:20px;
    display:flex;
}
.menu-detail ul li{
    list-style:none;
    position:relative;
    margin-bottom:20px;
}
 .menu-card img{
    height:100%;
    justify-content:space-between;
    
 }
   


.sea-titles h2{
    color:#7c042cd5;
    font-size:12px;
}
.seafood-listing{
    display:flex;
    gap:40px;
   
}
.sea-list{
    display:flex;
    justify-content:space-between;
    margin-right:10px;
}
.sea-pricing{
    gap:20px;
    display:flex;
}
.sea-detail ul li{
    list-style:none;
    position:relative;
    margin-bottom:20px;
}
 .sea-img img{
    height:90%;
    width:100%;
    justify-content:space-between;
    
 }
 .sea-titles h1{
     color:#363434;
   font-weight:600;
 }
